<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android11">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 打开MICROPHONE -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Android 11 新增-->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />


    <!-- To request foreground location access, declare one of these permissions. -->
    <!-- 精确度级别取决于您请求的具体权限：
            ACCESS_COARSE_LOCATION
            提供城市街区级别的位置信息精确度。
            ACCESS_FINE_LOCATION
            提供的位置信息比请求 ACCESS_COARSE_LOCATION 时所提供的位置信息更准确。
            这是某些连接任务（例如通过蓝牙低功耗 (BLE) 连接到附近的设备）所必需的权限。-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Required only when requesting background location access on Android 10 (API level 29). -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <!-- 如果应用以 Android 9 或更高版本为目标平台并使用前台服务，则必须请求 FOREGROUND_SERVICE 权限。
    这是普通权限，因此，系统会自动为请求权限的应用授予此权限。 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- 获取mac地址需要的权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".StorageActivity" />
        <activity android:name=".LocationActivity" />
        <activity android:name=".DataAccessAuditingActivity" />
        <activity android:name=".ForegroundServiceActivity" />

        <service android:name=".ForegroundService" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>